{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Employee Checklist</title>
{% endblock title %}

{% block pagecontent %}
<div class="container">
	<div class="row">
		<div class="col mb-4">
			<h1 class="mt-4 text-center">Employee Checklist</h1>
			{% crispy form %}
		</div>
	</div>
</div>

<script>
let needsFillOutWaiverElement = document.getElementById("id_need_to_fill_out_wavier");
let selected;
needsFillOutWaiverElement.addEventListener("click", event => {
	selected = selected ? false : true;
	document.getElementById("hepVaccineWaiver").style.display = selected ? "block":"none";
	document.getElementById("div_id_vaccination_record").style.display =  selected ? "none":"block";
});
</script>
{% endblock pagecontent %}
