{% extends 'sidebar.html' %}

{% block title %}
<title>Admin Panel</title>
<style>

.table, .flex {
	padding: 15px;
}

.flex {
	display: flex;
}


.filters form {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.table {
	display: grid;
}

button {
	padding: 15px;
}


</style>
{% endblock title %}

{% block pagecontent %}
<div class="flex filters">
	<form id="id_position_filter">
		Filter by position
		<select>
		</select>
	</form>
</div>
<div class="table">
	<table>
		<tr>
			<th>Email</th>
			<th>Age</th>
			<th>Name</th>
			<th>Phone</th>
			<th>LG Registration</th>
			<th>Employee Application</th>
		</tr>
		{% for user in users %}
		<tr>
			<td>{{ user.email }}</td>
			<td>{{ user.age }}</td>
			<td>{{ user.get_full_name }}</td>
			<td>{{ user.phone }}</td>
			<td>
				{% if user.is_lifeguard %}
				Yes
				{% else %}
				No
				{% endif %}
			</td>
			<td>
				{% if user.is_employee %}
				Yes
				{% else %}
				No
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div class="flex">
	<a id="id_add_user" href="{% url 'users:admin_add_user' %}" role="button" class="btn btn-primary">Add User</a>
</div>

<script>
	let postionFilterOptions = document.querySelector("#id_position_filter select");

	fetch("/employee/positions")
		.then(r => r.json())
		.then(positions =>
			renderOptions(postionFilterOptions,positions)
		);

	postionFilterOptions.addEventListener("change",() => {
		if(postionFilterOptions.value){
			let position_id = postionFilterOptions.value;
		} else {

		}
	});

	const createOption = (value,inner) => {
		let option = document.createElement("option");
   	option.setAttribute("value",value);
		option.innerHTML = inner;
		return option
	}

	function renderOptions(parent,positions){
		postionFilterOptions.appendChild(createOption("","---------------"));
		positions.forEach(p => {
			let option = createOption(p.id,p.title);
			postionFilterOptions.appendChild(option);
		});
	}
</script>
{% endblock pagecontent %}
