{% extends 'sidebar.html' %}

{% block title %}
<title>Admin Panel</title>
<style>

.table, .flex {
	padding: 15px;
}

.flex {
	display: flex;
}


.filters form {
	display: flex;
	flex-direction: column;
	padding: 5px;
}

.table {
	display: grid;
}

button {
	padding: 15px;
}


</style>
{% endblock title %}

{% block pagecontent %}
<div class="flex filters">
	<form id="id_position_filter">
		Filter by position
		<select>
		</select>
	</form>
</div>
<div class="table">
	<table id="id_user_table">
		<tr>
			<th>Email</th>
			<th>Age</th>
			<th>Name</th>
			<th>Phone</th>
			<th>LG Registration</th>
			<th>Employee Application</th>
		</tr>
		{% for user in users %}
		<tr class="data-row">
			<td>{{ user.email }}</td>
			<td>{{ user.age }}</td>
			<td>{{ user.get_full_name }}</td>
			<td>{{ user.phone }}</td>
			<td>
				{% if user.is_lifeguard %}
				Yes
				{% else %}
				No
				{% endif %}
			</td>
			<td>
				{% if user.is_employee %}
				Yes
				{% else %}
				No
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</table>
</div>
<div class="flex">
	<a id="id_add_user" href="{% url 'users:admin_add_user' %}" role="button" class="btn btn-primary">Add User</a>
</div>

<script>
	let postionFilterOptions = document.querySelector("#id_position_filter select");

	fetch("/employee/positions")
		.then(r => r.json())
		.then(positions =>
			renderOptions(postionFilterOptions,positions)
		);

	function createRow(employee){
		let tr = document.createElement("tr");
		tr.setAttribute("class","data-row");
		let emailCell = createCell(employee.email);
		tr.appendChild(emailCell);
		let ageCell = createCell(employee.age);
		tr.appendChild(ageCell);
		let nameCell = createCell(employee.name);
		tr.appendChild(nameCell);
		let phoneCell = createCell(employee.phone);
		tr.appendChild(phoneCell);
		let isLifeguardCell = createCell(employee.is_lifeguard ? "Yes" : "No");
		tr.appendChild(isLifeguardCell);
		let isEmployeeCell = createCell(employee.is_employee ? "Yes" : "No");
		tr.appendChild(isEmployeeCell);
		return tr;
	}

	function createCell(inner){
		let cell = document.createElement("td");
		cell.innerHTML = inner;
		return cell;
	}

	postionFilterOptions.addEventListener("change",() => {
		if(postionFilterOptions.value){
			let position_id = postionFilterOptions.value;
			fetch(`/employee/employees?position_id=${position_id}`)
				.then(res => res.json())
				.then((employees) => {
					let table = document.getElementById("id_user_table");
					let dataRows = table.getElementsByClassName("data-row");
					while(dataRows[0]) {
						  dataRows[0].parentNode.removeChild(dataRows[0]);
					}
					for(let employee of employees){
						let row = createRow(employee);
						table.appendChild(row);
					}
				});
		} else {
			window.location.reload();
		}
	});

	const createOption = (value,inner) => {
		let option = document.createElement("option");
		option.setAttribute("value",value);
		option.innerHTML = inner;
		return option
	}

	function renderOptions(parent,positions){
		postionFilterOptions.appendChild(createOption("","---------------"));
		positions.forEach(p => {
			let option = createOption(p.id,p.title);
			postionFilterOptions.appendChild(option);
		});
	}
</script>
{% endblock pagecontent %}
