{% extends 'sidebar.html' %}

{% block pagecontent %}
<div class="container-fluid">
	<h1 class="mt-4">Dashboard</h1>

	<div class="row">
		<div class="col-12">
			<div class="card-deck mt-3 mr-4 mb-3 text-center">

				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Applications</h5>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								<a href="{% url 'lifeguard:create' %}" id="id_lifeguard_registration">Lifeguard Application</a>
							</li>
							<li class="list-group-item">
								<a href="{% url 'employee:create' %}" id="id_employee_registration">Employee Application</a>
							</li>
						</ul>
					</div>
				</div>


				<div class="card">
					<div class="card-body">
						<h5 class="card-title">My Classes</h5>
						<ul class="list-group list-group-flush">
							<li class="list-group-item">
								{% if user.is_lifeguard and user.lifeguard.enroll_set.count != 0 %}
								 <a href="{% url 'lifeguard:enrolled_classes' %}">Enrolled Classes</a>
								{% else %}
								<p>You haven't enrolled in any classes.</p>
								{% endif %}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="card-deck mr-4 mb-3 text-center">

				<div class="card">
					<div class="card-body">
						<h5 class="card-title">To Do List</h5>
						<ul class="list-group list-group-flush">
							{% if user.is_employee %}
							{% if user.employee.is_hired %}
							<li class="list-group-item">
								<a href='{% url 'employee:checklist' %}' id="employee_checklist">Employee checklist</a>
							</li>
							{% else %}
							<li class="list-group-item">
								You have no tasks to do at the moment.
							</li>
							{% endif %}
							{% else %}
							<li class="list-group-item">
								You have no tasks to do at the moment.
							</li>
							{% endif %}
						</ul>
					</div>
				</div>

				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Application Status</h5>
						<ul class="list-group list-group-flush">
							{% if user.is_employee %}
							<li class="list-group-item">
								<a href="{% url 'employee:application_status' %}" id="application_status">Employee Application Status</a>
							</li>
							{% else %}
							<li class="list-group-item">
								No applications have been submitted yet.
							</li>
							{% endif %}
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- /#page-content-wrapper -->
{% endblock pagecontent %}

