{% extends 'base.html' %}

{% block content %}
<h3>Dashboard</h3>
<div id="applications">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Applications</h5>
            <p class="card-text">Below are available applications for you to fill out.</p>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <a href="{% url 'contact_information' user.id %}" id="id_lifeguard_registration">Lifeguard Registration</a>
                </li>
                <li class="list-group-item">
                    <a href="#">Employee Registration</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{% endblock content %}
