{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
	<div id="navbar">
		{% include 'navbar.html' %}
	</div>
</div>
<div class="container">
	<div class="row">
		<div class="col mt-4">
			{% if validlink %}
			<h3 class="mt-4 text-center">Change password</h3>
			<form method="post" id="change-password-form">
				{% csrf_token %}
				{{ form|crispy }}
				<input class="btn btn-primary" type="submit" value="submit">
			</form>
			{% else %}
			<p>
				The password reset link was invalid, possibly because it has already been used.
				Please request a new password reset.
			</p>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
