{% extends 'base.html' %}

{% block style %}
<style>
.center {
	margin: 0 auto;
	min-width: 75%;
	max-width: 85%;
}
</style>
{% endblock style %}

{% block title %}
<title>About us</title>
{% endblock title %}

{% block content %}
<div id="navbar">
	{% include 'navbar.html' %}
</div>

<div class="row">
	<div class="col">
		<div class="card border-0 pt-3 pb-3">
			<h1 class="text-center pt-3">About Us</h1>
			<hr>
			<div class="card-body center">
				<h3>
					Locally owned & operated for over 20 years!
				</h3>
				<p>
					Gulf Coast Aquatics, Inc. is a locally owned and operated commercial pool management company. Located in Kemah, Texas proudly servicing communities in the Clear Lake, League City, Friendswood, Pearland, Pasadena, Dickinson, Kemah, Seabrook, and surrounding areas. Gulf Coast Aquatics, Inc. provides Professional Lifeguard Management Services, American Red Cross Lifeguard Training, CPR Training, Swim Lessons, and Pool Services such as repairs and maintenance to Commercial Properties.
				</p>
				<h3>
					Serving local communities
				</h3>
				<p>
					Joey Ibarra & Krista Majeska have proudly served as one of the best in the industry with twenty (20) plus years of experience. We both take pride on providing outstanding customer service, prompt communication, and professional services to the Clear Lake and surrounding areas. We are both Certified Pool & Spa Operators, Certified Swimming Pool Maintenance & Operations by the Galveston County Health District, & American Red Cross Certified Lifeguard Instructors. Joey Ibarra recently obtained his Scuba Diving license to do under water repairs. Let Gulf Coast Aquatics, Inc. compliment your community by providing professional service and outstanding communication.
				</p>
				<h3>
					The Guld Coast Aquatics, Inc. Team
				</h3>
				<p>
					<ul class="list-group">
						<li class="list-group-item border-0">
							Joey Ibarra - Owner
						</li>
						<li class="list-group-item border-0">
							Krista Majeska - Owner
						</li>
						<li class="list-group-item border-0">
							Rhea Ibarra - Aquatics Director
						</li>
						<li class="list-group-item border-0">
							Cesar Morales - Operations Manager
						</li>
						<li class="list-group-item border-0">
							Kendra Turner - Office Manager
						</li>
					</ul>
				</p>
			</div>
		</div>
	</div>
</div>

{% endblock content %}




