{% extends 'base.html' %}

{% block head %}
<!-- link to the SqPaymentForm library -->
<script type="text/javascript" src="https://js.squareupsandbox.com/v2/paymentform"></script>
{% endblock head %}

{% block style %}
<style>



.card-columns .card {
	display: inline-block;
	width:100%;
}

#wrapper {
	overflow-x: hidden;
}

#sidebar-wrapper {
	min-height: 100vh;
	margin-left: -15rem;
	-webkit-transition: margin .25s ease-out;
	-moz-transition: margin .25s ease-out;
	-o-transition: margin .25s ease-out;
	transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
	padding: 0.875rem 1.25rem;
	font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
	width: 15rem;
}

#page-content-wrapper {
	min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
	margin-left: 0;
}

				@media (min-width: 768px)
				{
					#sidebar-wrapper {
						margin-left: 0;
					}
					#page-content-wrapper {
						min-width: 0;
						width: 100%;
					}
					#wrapper.toggled #sidebar-wrapper {
						margin-left: -15rem;
					}
				}

</style>
{% endblock style %}

{% block content %}
<div class="d-flex" id="wrapper">

	<!-- Sidebar -->
	<div class="bg-light border-right" id="sidebar-wrapper">
		<div class="sidebar-heading">GCA</div>
		<div class="list-group list-group-flush">
			<a href="{% url "users:dashboard" %}" class="list-group-item list-group-item-action bg-light">Dashboard</a>
			<a href="{% url "lifeguard:classes" %}" class="list-group-item list-group-item-action bg-light">Lifeguard Certification</a>

			{% if  user.lifeguard.get_unpaid_lifeguard_classes.count > 0 %}
			<a href="{% url "payment:enrollment_cart" %}" class="list-group-item list-group-item-action bg-light">
				Enrollment Cart
			</a>
			{% endif %}

			{% if  user.is_superuser %}
			<a href="" id="id_admin_panel" class="list-group-item list-group-item-action bg-light">
				Admin panel (in beta)
			</a>
			{% endif %}

			<a href="#" class="list-group-item list-group-item-action bg-light">Profile</a>
		</div>
	</div>
	<!-- /#sidebar-wrapper -->

	<!-- Page Content -->
	<div id="page-content-wrapper">

		<nav class="navbar">
			<svg  id="minus" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-dash-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h7a.5.5 0 0 0 0-1h-7z"/>
			</svg>
			<svg id="plus"  style="display: none;" width="2em" height="2em" viewBox="0 0 16 16" class="bi bi-plus-circle-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"/>
			</svg>
      <a href="{% url 'users:logout' %}" class="btn btn-outline-primary " id="id_logout">Log Out</a>
			<!--<button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>-->
		</nav>

		{% block pagecontent %}
		{% endblock pagecontent %}

		<!-- /#page-content-wrapper -->
	</div>
	{% endblock content %}

	{% block js %}
	<script>

let minusBtn = $('#minus')
let plusBtn = $('#plus');
let lastBtn;

$(document).on("click",'#plus',function(e) {
	e.preventDefault();
	$('#wrapper').toggleClass('toggled');
	if (lastBtn){
		console.log(lastBtn);
		$(this).replaceWith(lastBtn);
		lastBtn = $(this);
	} else {
		lastBtn = $(this);
		$(this).replaceWith($('#minus'))
		minusBtn.show();
	}
});

$(document).on('click',"#minus",function(e) {
	e.preventDefault();
	$('#wrapper').toggleClass('toggled');
	if (lastBtn){
		$(this).replaceWith(lastBtn);
		lastBtn = $(this);
		console.log(lastBtn);
	} else {
		lastBtn = $(this);
		plusBtn.show();
		$(this).replaceWith($('#plus'))
	}
});

	</script>
	{% endblock js %}

