{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}

{% block pagecontent %}
<div class="container">
	<h3 class="text-center mb-3">Enrollment Cart</h3>
	<div class="table responsive">
		<table class="table table-bordered center-form">
			<thead>
				<tr>
					<th scope="col">Class</th>
					<th scope="col">Meeting Date</th>
					<th scope="col">Meeting Times</th>
					<th scope="col">Cost {% if request.user.is_employee %} (employee discount applied) {% endif %}</th>
				</tr>
			</thead>
			<tbody>
				{% for enrollment in enrolled_classes %}
				{% with class=enrollment.lifeguard_class %}
				<tr>
					<td>
						<small>{{ class.course }}</small>
					</td>
					<td>
						<small>{{ class.start_date|date }} - {{ class.start_date|date }}</small>
					</td>
					<td>
						<small>{{ class.start_date|date:"P" }} - {{ class.start_date|date:"P" }}</small>
					</td>
					<td>
						<small>
							{% if request.user.is_employee %}
							    ${{ class.employee_cost }}
							{% else %}
							    ${{ class.cost }}
							{% endif %}
						</small>
					</td>
				</tr>
				{% endwith %}
				{% endfor %}
			</tbody>
		</table>
		<a class="btn btn-outline-primary btn-lg btn-block center-form" id="id_continue_to_checkout" href="{% url 'payment:lifeguard_checkout' %}" role="button">continue to checkout</a>
	</div>
</div>
{% endblock pagecontent %}
