{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Enrollment Cart</title>
{% endblock title %}

{% block pagecontent %}
<div class="container">
	{% if request.user.lifeguard.get_unpaid_lifeguard_classes.count > 0 %}
	<h1 class="text-center mb-3">Enrollment Cart</h1>
	{% for enrollment in enrolled_classes %}
	{% if not enrollment.paid %}
	{% with class=enrollment.lifeguard_class %}
	<div class="w-25 card border-dark mb-3 mt-3 center-form">
		<div class="card-header">
			<h3>{{ class.course }}</h3>
		</div>
		<div class="card-body">
			<ul class="list-group list-group-flush">
				<li class="list-group-item p-2">
					{% include 'lifeguard/list_session_dates.html' %}
				</li>
				<li class="list-group-item">
					<div class="d-flex justify-content-between">
						<p>Cost {% if request.user.is_employee %} (employee discount applied) {% endif %}</p>
						<p>
							{% if request.user.is_employee %}
							${{ class.employee_cost }}
							{% else %}
							${{ class.cost }}
							{% endif %}
						</p>
					</div>
				</li>
			</ul>
		</div>
		<div class="card-footer text-center">
			<form method="post" action="{% url 'payment:drop_enrollment' enrollment.pk %}">
				{% csrf_token %}
				<input type="submit" value="drop enrollment" class="btn btn-outline-dark btn-block">
			</form>
		</div>
	</div>
	{% endwith %}
	{% endif %}
	{% endfor %}
	<a href="{% url 'payment:lifeguard_checkout' %}" id="id_continue_to_checkout" role="button"
		class="w-25 btn btn-primary btn-lg btn-block center-form mt-3 mb-3">
		continue to checkout
	</a>
	{% else %}
	<div class="w-25 alert alert-primary center-form text-center" role="alert">
		<h4>You have no classes in your enrollment cart. You can enroll
			<a href="{% url 'lifeguard:classes' %}" class="alert-link">here</a>.
		</h4>
	</div>
	{% endif %}
</div>
{% endblock pagecontent %}
