{% extends 'sidebar.html' %}
{% block pagecontent %}

<div class="container">
	<div class="row">
		<div class="col">
			<h4 class="text-center mb-3 mt-3">Pay now and secure your spot</h4>
		</div>
	</div>
	<div class="row center-form">
		<div class="col-md-6">
			<div class="wrapper">
				<div class="checkout container mb-4">
					<form id="payment-form" method="post" action="{% url 'payment:create_checkout' %}">
						{% csrf_token %}
						<section>
							<div class="bt-drop-in-wrapper">
								<div id="bt-dropin"></div>
							</div>
						</section>

						{{ form.nonce }}
						<button class="btn btn-outline-primary btn-block btn-lg" type="submit" id="submit-button"><span>Pay Now</span></button>
					</form>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			{% with lifeguard=user.lifeguard %}
			<div class="table-responsive ml-3">
			<table class="table table-bordered">
				<h4 class="text-center">Summary</h4>
				<thead>
					<tr>
						<th scope="col">Class</th>
						<th scope="col">Meeting Date</th>
						<th scope="col">Meeting Times</th>
						<th scope="col">Cost</th>
					</tr>
				</thead>
				<tbody>
				{% for enrollment in lifeguard.enroll_set.all %}
				{% with class=enrollment.lifeguard_class %}
		     <tr>
					 <td>
						 <small>{{ class.course }}</small>
					 </td>
					 <td>
						 <small>{{ class.start_date|date }} - {{ class.start_date|date }}</small>
					 </td>
					 <td>
						 <small>{{ class.start_date|date:"P" }} - {{ class.start_date|date:"P" }}</small> 
					 </td>
					 <td>
						 <small>${{ class.cost }}</small> 
					 </td>
				 </tr>
				{% endwith %}
				{% endfor %}
				</tbody>
			</table>
			</div>
			<p class="ml-3">Total: $240</p>
			{% endwith %}
		</div>
	</div>
</div>

<script src="https://js.braintreegateway.com/web/dropin/1.24.0/js/dropin.min.js"></script>
<script>
	var form = document.querySelector('#payment-form');
var client_token = '{{ client_token }}';

braintree.dropin.create({
	authorization: client_token,
	container: '#bt-dropin',
	paypal: {
		flow: 'vault'
	}
}, function (createErr, instance) {
	form.addEventListener('submit', function (event) {
		event.preventDefault();

		instance.requestPaymentMethod(function (err, payload) {
			if (err) {
				console.log('Error', err);
				return;
			}

			// Add the nonce to the form and submit
			document.querySelector('#id_nonce').value = payload.nonce;
			form.submit();
		});
	});
});
</script>
{% endblock pagecontent %}
