{% extends 'sidebar.html' %}
{% block pagecontent %}

<div class="container">
	<div class"card">
		<div class="card-header text-white bg-success text-center">
			Payment successful
		</div>
		<div class="card-body border border-success pb-4">
			<span class="float-left">Payment type</span>
			<span class="float-right">
				{{ transaction.credit_card_details.card_type }}
			</span>
			<br>
			<span class="float-left">Mobile</span>
			<span class="float-right">
				{{ user.phone }}
			</span>
			<br>
			<span class="float-left mb-4">Amount Paid</span>
			<span class="float-right mb-4">
				{{ transaction.amount }}
			</span>
		</div>
	</div>
</div>
{% endblock pagecontent %}
