{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Return Lifeguard</title>
{% endblock title %}

{% block pagecontent %}
<div class="container">
	<div class="row">
		<div class="col mb-4">
			<h1 class="mt-4 text-center">Returning Lifeguard</h1>
			{% crispy form %}
			<h3 class="w-25 mt-4 mb-4 center-form">Don't know where to get your certificate?</h3>
			<p class="w-25 center-form">You can download your lifeguard certificate from <a href="https://www.redcross.org/take-a-class/digital-certificate">American Red Cross</a>. Once you click on the link you can search for your certificate by email, name & date, or certificate id. Once you find your certificate you can download your certificate as a pdf. Please submit this to the form above.</p>
		</div>
	</div>
</div>
{% endblock pagecontent %}

