{% extends 'sidebar.html' %}
{% load crispy_forms_tags %}

{% block title %}
<title>Lifeguard Classes</title>
{% endblock title %}

{% block pagecontent %}
<div class="container">
	<div class="row">
		<div class="col mb-4">
			{% if not user.is_lifeguard %}
			<div class="alert alert-info">
				You have have not completed the lifeguard application.
				To enroll in one of our lifeguard classes please complete the application
				<a href="{% url 'lifeguard:create' %}" class="alert-link">here</a>.
			</div>
			{% else %}
			<h1 class="mt-4 text-center">Available Lifeguarding Classes</h1>
			{% for class in classes %}
			  {% if class.is_refresher %}
			     <div class="w-25 card border-dark mb-3 mt-3 center-form">
					    <div class="card-header">
						  <h3>{{ class.course }}</h3>
						</div>
						<div class="card-body">
							<p>Looks like you need a refresher this season.</p>
							<p>Please go to this <a href='{{ class.refresher_url }}'>link</a> to access the refresher course.</p>
							<p>Thank you!</p>
						</div>
				</div>
			  {% else %}
			<div class="w-25 card border-dark mb-3 mt-3 center-form">
				<div class="card-header">
					<h3>{{ class.course }}</h3>
				</div>
				<div class="card-body">
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							{% include 'lifeguard/list_session_dates.html' %}
						</li>
						<li class="list-group-item">
							<div class="d-flex justify-content-between">
								<h5>Cost</h5>
								<p>
									${{ class.cost }}
								</p>
							</div>
						</li>
						<li class="list-group-item">
							<div class="d-flex justify-content-between">
								<h5>Employee cost</h5>
								<p>
									${{ class.employee_cost }}
								</p>
						</li>
					</ul>
				</div>
				<div class="card-footer text-center">
					<form method="post" action="{% url 'lifeguard:classes' class.id %}">
						{% csrf_token %}
						<input name="enroll-btn" class="btn btn-outline-dark btn-lg btn-block" type="submit"
							value="enroll">
					</form>
				</div>
			</div>
			  {% endif %}
			{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock pagecontent %}